# today topics:
- strings: group of characters 
   - properties: 
       -  immutable
       - ordered data 
       - slicing
- list: collection of hetrogenous data
    - properties:
        + *mutable*
        + *ordered data*
        + *slicing*
- tuple: collection of hetrogenous elements
    - *mutable*
    - *slicing*
- dictionary:collection of hetrogenous elements
    - it is pair of key and value
    - key is fixed  and value is chaged
- sets

In [5]:
s='python programming'
s[0]
len(s)
s[-1]
s[-10]

'r'

In [11]:
s[:6]

'python'

In [10]:
s[7:18]

'programming'

In [29]:
s='python programming'
s[0:18:2]
s[7:18:2]
s[:6][::-1]
s[:18][::-1]

'gnimmargorp nohtyp'

In [31]:
s1 = input('enter a value:')
if s1 == s1[::-1]:
    print('palindrome number')
else:
    print('not a palindrome' )

enter a value:161
palindrome number

In [32]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [37]:
s='radha'
s.capitalize()

'Radha'

In [40]:
s='Sushira sai'
s.title()
s.swapcase()

'sUSHIRA SAI'

In [46]:
a='kavitha123'
a.upper()
a.isdigit()
a.isalnum()

False

In [48]:
a.isalpha()

False

In [51]:
a.count('K')

0

In [57]:
ord('9')

57

In [61]:
chr(101)

'e'

In [82]:
li = [2,6,9,4,'sunny',True]
li[4]
li[0:3]
li[7::-1]
li[0]=10
li
li[4][2:5]

'nny'

In [88]:
l=[1,3,2,4,1,1,2,6,7,4,4,3,3]
l.count(1)
l.append("hii")
l

[1, 3, 2, 4, 1, 1, 2, 6, 7, 4, 4, 3, 3, 'hii']

In [89]:
print(dir(li))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [103]:
li1 = l.copy()
l
li1.clear()
li1
l
l.count(2)
l.pop(5)
l
l.remove(3)
l

[1, 2, 4, 1, 7, 4, 3]

In [107]:
l2 = [22,78,20,41,99,10,4,8,55,37,87,67]
l2.sort()
l2

[4, 8, 10, 20, 22, 37, 41, 55, 67, 78, 87, 99]

In [109]:
ll = ['hello','radha','bca','1234']
ll.sort()
ll

['1234', 'bca', 'hello', 'radha']

In [115]:
li=[231,'sera',"revii",True]
li.reverse()
li

[True, 'revii', 'sera', 231]

In [119]:
l= [1,1,2,4,6,3,3,4]
li =[]
for i in l:
    if i not in li:
        li.append(i)
print(li)

[1, 2, 4, 6, 3]

In [6]:
g='765'
li = list(g)
s=0
li 
for i in li:
    s+=int(i)
   #print(i,end=' ')
print(s)

18

In [2]:
n= int(input('enter n value:'))
li=[]
for i in range(n):
    li.append(input('enter list elements:'))
li

enter n value:4
enter list elements:23
enter list elements:45
enter list elements:67
enter list elements:99

['23', '45', '67', '99']

# tuple

In [3]:
t=()
type(t)

tuple

In [9]:
t=(1,4,5,'sai',1.8,5.9,True)
t[2]
t[5]#forwad index
t[-5]#backward index

5

In [13]:
# slicing
t=(1,4,5,'sai',1.8,5.9,True)
t[4::6]
t[::-1]  # tuple reverse

(True, 5.9, 1.8, 'sai', 5, 4, 1)

In [18]:
# tuple methods
#dir(t)
#dir(tuple)
b=()
dir(b)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [19]:
t=(1,4,5,'sai',1.8,5.9,True)
t.count(4)

1

In [24]:
a='kavitha'
a.find('k')
a.index('k')

0

In [30]:
# tuple packing and unpacking
emp= ('ram','wip450','wipro','eng')
(name,empid,company,dept)= emp
print(name)
print(company)
print(empid)

ram
wipro
wip450

# Dictionary

In [34]:
address = {'name':'ramya','place':'banglore'}
address

{'name': 'ramya', 'place': 'banglore'}

In [36]:
# another way of declaration
# variable name['key']= 'value'
address = {'name':'ramya','place':'banglore'}
address['pincode']=678001
address

{'name': 'ramya', 'place': 'banglore', 'pincode': 678001}

In [37]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [38]:
address.keys()

dict_keys(['name', 'place', 'pincode'])

In [40]:
address.values()

dict_values(['ramya', 'banglore', 678001])

In [41]:
address.items()

dict_items([('name', 'ramya'), ('place', 'banglore'), ('pincode', 678001)])

In [42]:
address.get('place')

'banglore'

In [43]:
address.popitem()

('pincode', 678001)

In [47]:
address.pop('name')

'ramya'

In [49]:
address2 = {'place':'kakinada','pincode':567321,'dr.no': 12-957}
address = {'name':'ramya','place':'banglore'}
address.update(address2)
address

{'name': 'ramya', 'place': 'kakinada', 'pincode': 567321, 'dr.no': -945}

In [50]:
address['dr.no']='12-234/d'
address

{'name': 'ramya', 'place': 'kakinada', 'pincode': 567321, 'dr.no': '12-234/d'}

In [53]:
address3=address
address3

{'name': 'ramya', 'place': 'kakinada', 'pincode': 567321, 'dr.no': '12-234/d'}

In [7]:
a=input('enter a string:')
alpha = digit=splchar=0
for i in range(len(a)):             #task-1
    if(a[i].isalpha()):
        alpha+=1
    elif(a[i].isdigit()):
        digit+=1
    else:
        splchar+=1
print('number of alphabets:',alpha)
print('number of digits:',digit)
print('number of special characters:',splchar)

enter a string:er12!#dy876
number of alphabets: 4
number of digits: 5
number of special characters: 2

In [5]:
c=[1,5,6,2,3,1,1,4,4,7,6,8,5,3]  #task-2
c.count(1)
c.count(4)
c.count(9)

0

In [2]:
a=input('enter a string:')
alpha = digit=splchar=0
al=[]
dig=[]
schar=[]
for i in range(len(a)):             #task-1
    if(a[i].isalpha()):
        alpha+=1
        al.append(i)
    elif(a[i].isdigit()):
        digit+=1
        dig.append(i)
    else:
        splchar+=1
        schar.append(i)
print('number of alphabets:',alpha,al)
print('number of digits:',digit,dig)
print('number of special characters:',splchar,schar)

enter a string:dgu!@$#359**
number of alphabets: 3 [0, 1, 2]
number of digits: 3 [7, 8, 9]
number of special characters: 6 [3, 4, 5, 6, 10, 11]

In [8]:
a=[1,2,3,3,4,3,1,5,8,6,7,9,8,6,5,3]
li=list(set(a))
d={}
for i in a:
    d[i]=a.count(i)
d

{1: 2, 2: 1, 3: 4, 4: 1, 5: 2, 8: 2, 6: 2, 7: 1, 9: 1}